/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/clearfix";

body {
    font-family: "Helvetica";
    color: #06002B;
}

h1 {
    font-weight: 900;
    font-size: 3em;
}

#upper {
    @include clearfix;
    width: 100%;
}

#lower {
    width: 100%;
    font-family: "Lucida Console", Monaco, monospace;
}

.list {
    width: 25%;
    float: left;
    h1 {
        padding-bottom: 5%;
    }
    li {
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
}
